In [ ]:
def hours():
    print('Open 9-5 daily')

In [ ]:
import zoo
zoo.hours()

In [ ]:
import zoo as menagerie
menagerie.hours()

In [ ]:
from sqlalchemy import create_engine, select, MetaData, Table

engine = create_engine('sqlite:///books.db')
connection = engine.connect()
metadata = MetaData()

book_table = Table('book', metadata, autoload_with=engine)

query = select(book_table.c.title).order_by(book_table.c.title)

result = connection.execute(query).fetchall()

for row in result:
    print(row.title)

connection.close()